<%= content_tag :div, id: 'weather-widget' do %>
  <div id="weather-widget__main-label">
    <div class="row">
      <div class="center">
        <div class="col-12 text-center">
          <h1>
            {{temperature}}
            <small>{{placeName}}</small>
          </h1>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="center">
      <div class="col-12 text-center">
        <input type="text" placeholder="City"         id="weather-widget__control" v-model="cityName">
        <input type="text" placeholder="Country Code" id="weather-widget__control" v-model="countryCode">
      </div>
      <div class="col-12 text-center">
        <button id="weather-widget__control" v-on:click="getWeatherByLocation">➤</button>
        <button id="weather-widget__control" v-on:click="getWeather">Get Weather</button>
        <button id="weather-widget__control" v-on:click="randomWeather">Feeling Lucky?</button>
      </div>
    </div>
  </div>
<% end %>
<%= yield %>
