# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

# Shared secrets are available across all environments.

# shared:
#   api_key: a1B2c3D4e5F6

# Environmental secrets are only available for that specific environment.

development:
  secret_key_base: d6f7914a0c42ba57edfb7c61706cf0b92e39e31a8877eff536650f1690f734c7b9434cd5b2425b7dd85cd491edc1cbeca12b97550250034754a734ed1d6daf45
  openweathermap: f7d9e25d8b586ed37ab109db426e6a41

test:
  secret_key_base: ded37340d8f04d62a0f80d2009ab571e846654af64507d702fc19fd6a8eeb1355f59d10cf6afb80b822209f7a4de016763d49d256fa4b3a5f140a3d2246a675b
  openweathermap: 12345678

# Do not keep production secrets in the unencrypted secrets file.
# Instead, either read values from the environment.
# Or, use `bin/rails secrets:setup` to configure encrypted secrets
# and move the `production:` environment over there.

production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
  openweathermap: <%= ENV["OPENWEATHERMAP_KEY"] %>
