<%= content_tag :div, id: 'app' do %>
  <div id="main-weather__label">
    <div class="row" id="main-weather__label">
      <div class="center">
        <div class="col-12 text-center">
          <h1>
            {{temperature}}
            <small>{{placeName}}</small>
          </h1>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="center">
      <div class="col-12 text-center">
        <input type="text" placeholder="City" v-model="cityName">
        <input type="text" placeholder="Country Code" v-model="countryCode">
      </div>
      <div class="col-12 text-center">
        <button v-on:click="getWeatherByLocation">➤</button>
        <button v-on:click="getWeather">Get Weather</button>
        <button v-on:click="randomWeather">Feeling Lucky?</button>
      </div>
    </div>
  </div>
<% end %>

